{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Fyyur Search!</h1>
</div>
<p class="lead"> Show Search </p>

<form class="search search-show" method="post" action="/shows/search">
    <input class="form-control" type="search" name="search_term"
        placeholder="Find an show, Search by Artist or Venue name or date(dd/mm/yyyy h:m:s)" aria-label="Search">
</form>

{% if ((shows|length) > 0) %}<p class="lead">Results</p>{% endif %}
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ show.artist_image_link }}" alt="Artist Image" />
            <h4>{{ show.start_time|datetime('full') }}</h4>
            <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}